<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.haleon.model.dao.ProfileDao">
	<resultMap type="profile" id="profileMap">
		<id column="id" property="id"></id>
		<result column="period" property="period" />
		<result column="height" property="height" />
		<result column="weight" property="weight" />
		<result column="bmi" property="bmi" />
		<result column="fat_rate" property="fatRate" />
		<result column="muscle_rate" property="muscleRate" />
	</resultMap>

	<insert id="insertProfile" parameterType="profile">
		INSERT INTO
		profile_list VALUES (#{id}, #{period}, #{height}, #{weight}, #{bmi},
		#{fatRate}, #{muscleRate})
	</insert>

	<update id="updateProfile" parameterType="profile">
		UPDATE profile_list
		SET
		id = #{id},
		period = #{period},
		height = #{height},
		weight = #{weight}
		bmi = #{bmi},
		fat_rate = #{fatRate},
		muscle_rate = #{muscleRate},
		WHERE
		id = #{id}
	</update>

	<select id="selectOne" resultMap="profileMap"
		parameterType="String">
		SELECT id, period, height, weight, bmi, fat_rate,
		muscle_rate FROM profile_list WHERE id = #{id}
	</select>

</mapper>