<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ssafy.haleon.model.dao.ProfileDao">
	<resultMap type="profile" id="profileMap">
		<id column="username" property="userName"></id>
		<result column="period" property="period" />
		<result column="height" property="height" />
		<result column="bmi" property="bmi" />
		<result column="weight" property="weight" />
	</resultMap>

	<insert id="insertProfile" parameterType="profile">
		INSERT INTO profile_list VALUES (0, #{userName}, #{period}, #{height}, #{bmi}, #{weight})
	</insert>	

	<update id="updateProfile" parameterType="profile">
		UPDATE profile_list 
		SET
		username = #{userName},
		period = #{period},
		height = #{height},
		bmi = #{bmi},
		weight = #{weight}
		WHERE username = #{userName}
	</update>
	
	<select id="selectOne" resultMap="profileMap" parameterType="String">
		SELECT username, period, height, bmi, weight FROM profile_list WHERE username = #{userName}
	</select>
</mapper>