<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ssafy.haleon.model.dao.VideoLogDao">
  	<resultMap type="videoLog" id="videoMap">
		<id column="seq" property="seq"/>
		<id column="id" property="id" />
		<result column="video_id" property="videoId" />
		<result column="view_cnt" property="viewCnt" />
	</resultMap>
	
  	<insert id="insertVideoLog" parameterType="java.util.HashMap">
  		INSERT INTO video_log VALUES (0, #{id}, #{videoId}, 0)
  	</insert>
  	
  	<update id="modifyVideoLog" parameterType="videoLog">
  		UPDATE video_log
  		SET
  		video_id = #{videoId},
  		view_cnt = #{viewCnt}
  		WHERE
  		id = #{id} AND video_id = #{videoId}
  	</update>
  	
  	<delete id="deleteVideoLog" parameterType="java.util.HashMap">
  		DELETE FROM video_log WHERE id = #{id} AND video_id = #{videoId}
  	</delete>
  	
  	<select id="selectOne" resultMap="videoMap" parameterType="java.util.HashMap">
  		SELECT seq, id, video_id, view_cnt FROM video_log WHERE id = #{id} AND video_id = #{videoId}
  	</select>
  	
  	<select id="selectVideoByName" resultMap="videoMap" parameterType="String">
  		SELECT seq, id, video_id, view_cnt FROM video_log WHERE id = #{id}
  	</select>
  	
  	<select id="selectVideoList" resultMap="videoMap">
		SELECT id, video_id, view_cnt FROM video_log  	
  	</select>
  
  	<select id="selectVideoListDESC" resultMap="videoMap">
		SELECT id, video_id, view_cnt FROM video_log ORDER BY view_cnt DESC	
  	</select>
  </mapper>