<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.haleon.model.dao.WorkoutDao">
	<resultMap type="workout" id="workoutMap">
		<id column="reg_date" property="regDate"/>
		<result column="id" property="id" />
		<result column="cal" property="cal"/>
		<result column="burn" property="burn"/>
		<result column="work_time" property="workTime"/>
	</resultMap>

	<select id="selectOne" resultMap="workoutMap" parameterType="workout">
		SELECT reg_date, id, cal, burn, work_time FROM workout WHERE reg_date = #{regDate} AND id = #{id}
	</select>
	
	<select id="selectOneByIdDate" resultMap="workoutMap" parameterType="workout">
		SELECT reg_date, id, cal, burn, work_time FROM workout WHERE id = #{id} AND reg_date = #{regDate}
	</select>
	
	<select id="selectList" resultMap="workoutMap" parameterType="String">
		SELECT reg_date, id, cal, burn, work_time
		FROM workout
		WHERE id= #{id}
	</select>
	
	<insert id="insertWorkout" parameterType="workout">
		INSERT INTO workout VALUES
		(#{regDate}, #{id}, #{cal}, #{burn}, #{workTime})
	</insert>
	
	<update id="updateWorkout" parameterType="workout">
		UPDATE workout
		SET
		cal = #{cal},
		burn = #{burn}, 
		work_time = #{workTime},
		WHERE reg_date = #{regDate}
	</update>
	
	<delete id="deleteWorkout" parameterType="String">
		DELETE FROM workout WHERE reg_date = #{regDate}
	</delete>

	
</mapper>